<app-nav></app-nav>
<div id="page">
<ng-container>
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only display-6"> Enter A Bidder ID to search for</label>
        <input [(ngModel)]='bidderId' name='' class="form-control" id="inputPassword2" placeholder="Bidder ID">
    </div>
    <button (click)='searchBidders(bidderId)' type="submit" class="btn btn-primary mb-2">Search bids</button>
    <div *ngIf='bids.length > 0; else noBids'>
        <div *ngFor='let bid of bids'>
            <hr>
            <div>amount: {{bid.amount}}</div>
            <div>art id: {{bid.artid}}</div>
            <div>bid id: {{bid.id}}</div>
        </div>
    </div>
    <ng-template #noBids>
        No bids found for this client.
    </ng-template>
</ng-container>
</div>