<app-nav></app-nav>
<div id="page">
  <div class="container">
    <h1 class="display-5"> Current Auctions</h1>
    <div class="row">
      <ng-container class="col-8" *ngIf='auctions.length > 0; else noAuctions'>
        <p>{{auctions.length}} art pieces are up for auction.</p>
        <div *ngFor='let auction of auctions'>
          <app-auction [auction]='auction'></app-auction>
        </div>
      </ng-container>
      <ng-template #noAuctions>
        <button (click)="getAuctions()" type="button" class="btn btn-primary" id="imgBtn">Refresh Auctions</button>
        All sold out; please try again later.
      </ng-template>
    </div>
  </div>